#thumbnails-wrapper {
    overflow: hidden;
    width: 100%;
}

#thumbnails-container {
    display: flex;
    gap: 16px;
    width: max-content;
    animation: scroll-thumbnails 60s linear infinite;
}

.thumbnail {
    width: 160px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.1);
}

@keyframes scroll-thumbnails {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
